#megrendeles_adatok_metabox .inside table { margin-bottom: 30px; }
#megrendeles_adatok_metabox .inside table,
#megrendeles_adatok_metabox .inside table tr,
#megrendeles_adatok_metabox .inside table tr input[type="text"] { width: 100%; }

#megrendeles_adatok_metabox .inside table tr th { width: 25%; text-align: right; padding-right: 10px; }
#megrendeles_adatok_metabox .inside table tr td { width: 75%; }

ul#adminmenu li#menu-posts-portfolio,
ul#adminmenu li#menu-posts-partners,
ul#adminmenu li#menu-posts-staff,
ul#adminmenu li#menu-posts-acme_product { display: none; }

#megrendeles_adatok_metabox .megrendeles_ervenyesseg { color: red; text-align: center; font-weight: bold; font-size: 18px; padding: 0 0 15px 0; text-transform: uppercase; }
#megrendeles_adatok_metabox .megrendeles_ervenyesseg.ervenyes { color: green; }

.metabox-holder .postbox-container.cm_full_width { width: 100% !important; }


#nem_jovahagyott_megrendelesek_lista table { border-collapse: separate; border-spacing: 0; }
#nem_jovahagyott_megrendelesek_lista table,
#nem_jovahagyott_megrendelesek_lista table tr {  }
#nem_jovahagyott_megrendelesek_lista table th { text-transform: uppercase; }
#nem_jovahagyott_megrendelesek_lista table td,
#nem_jovahagyott_megrendelesek_lista table th { text-align: center; border: 1px solid #ededed; padding: 5px; }
#nem_jovahagyott_megrendelesek_lista table td a { text-transform: uppercase; width: 100%; }
#nem_jovahagyott_megrendelesek_lista table tr:nth-child(even) td { background: #f3f3f3; }

#tanarok_cpt_metabox table { width: 100%; }
#tanarok_cpt_metabox table tr { width: 100%; }
#tanarok_cpt_metabox table tr th { width: 35%; padding-top: 5px; padding-bottom: 5px; }
#tanarok_cpt_metabox table tr td { width: 65%; }
#tanarok_cpt_metabox table tr th { text-align: right; padding-right: 15px; }
#tanarok_cpt_metabox table tr td input[type="text"] { width: 100%; }
