$black: #0A0203;
$white: #ffffff;
$dark_grey: #949494;
$dark_grey2: #383838;
$light_grey: #eaeaea;
$light_grey2: #f9fafc; /* <-- theme original */
$active: #2abb9e;
$blue: #57cbf5;
$blue_hover: #74DAFF;

$green: #449090;
$light_green: #51A39A;

$red: #CE3426;
$steel_blue: #586c7f;
$dark_steel_blue: #182E42;
$light_blue: #B0DAD8;
$gold: #b9b952;


@mixin transition($t...) {
  transition: $t;
  -webkit-transition: $t;
}
@mixin transform($t) {
  -ms-transform: $t;
  -webkit-transform: $t;
  transform: $t;
}
@mixin transform-origin($o) {
  -ms-transform-origin: $o;
  -webkit-transform-origin: $o;
  transform-origin: $o;
}
@mixin lets($tracking) {
  letter-spacing: 1em * $tracking / 1000;
}


$mobile_vertical: "(max-width: 480px)";
$mobile: "(max-width: 767px)";
$bigmobile: "(min-width: 481px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1035px)";
$smalldesktop: "(min-width: 1036px) and (max-width: 1214px)";
$desktop: "(min-width: 1215px)";


.clearfix {
	clear: both;
}

textarea {
	resize: none;
}

div.rating {
	list-style-type: none;
	margin-left: 0;

	span {
		display: inline;
		color: $gold;
		font-size: 14px;
	}

	.rate-select-layer {

		span {

		}
	}
}

input[type="submit"] {
	font-weight: 900;
	border-radius: 5px;
	color: #ffffff;
	background: #21c2f8;
	font-size: 14px;
	padding: 10px 15px 11px;
	vertical-align: middle;
	font-family: 'Lato', sans-serif;
}

.page_title_ctn {
	padding-top: 20px;
	padding-bottom: 20px;
}

blockquote {
	margin: 0;
	padding: 20px 30px;

	&::before {
		background: $light_grey;
	}

	strong {
		display: block;
		margin-top: 15px;
		font-size: 13px;
		text-align: right;
	}

	p {
		line-height: 1.8;
		color: $black;
		font-weight: 400;
	}
}

.text-uppercase,
.text-uppercase * {
  text-transform: uppercase;
}


.one-half {
	width: 50%;
	float: left;
	border: 1px solid rgba(0,0,0,0);

  @media #{$tablet} {
    width: 100%;
  }
  @media #{$mobile} {
    width: 100%;
  }
}


html.reglog_page_style,
html.reglog_page_style .section,
html.reglog_page_style .vc_row {
	background: $white !important;
}
html.reglog_page_style .section {
	padding: 0;
	margin: 0;
}


body, #jprePercentage {
	color: $black;
}

body {
	&.fixed_footer {
		div#footer_bg {
			position: fixed;
			bottom: 0;
		}
	}
}

body,
.vc_custom_heading {
	font-family: 'Lato', sans-serif !important;
}

body.logged-in {
	ul {
		li {
			&.login,
			&.reg {
				display: none !important;
			}
		}
	}

	&.tanar_role {

		header nav ul li a.main_menu_link {
			padding-left: 10px !important;
			padding-right: 10px !important;
		}

	/*
		.logo_text {
			float: none;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}

		header {
			.wrapper {
				width: 100% !important;

				nav {
					width: 100% !important;
					background: $white;
				}
			}
		}
	*/
	}
}


div.pagination_content {
	padding: 0;
	display: block;
	float: left;
	width: 100%;
	margin-top: 20px;

	nav {
		padding: 5px 0;
		float: right;
		ul {
			padding: 0 5px;
			li {
				list-style-type: none;
				margin: 0;
				a {
					color: $dark_grey;
				}
				span {
					&.current {
						color: $blue;
					}
				}

				&:first-of-type {
					display: none;
				}

			}
		}
	}
}


#header_container {
	min-height: auto !important;
}


header {
  nav {
    ul {
      li {
        a {
					color: $black !important;
					font-size: 14px !important;
					font-weight: 400 !important;

					&.main_menu_link {
						padding-left: 15px !important;
						padding-right: 15px !important;
					}
        }

				&.current-menu-item {
					color: $blue !important;
					a {
						color: $blue !important;
					}
				}

				&.uzenetek {
					&.has_new_msg {
						a {
							color: $red !important;
							span.msg_count {
									color: $white;
							    padding: 0px 5px;
							    border-radius: 50%;
							    margin-left: 5px;
							    border: 1px solid $red;
							    font-size: 12px;
							    vertical-align: middle;
							    width: 10px;
							    background: $red;
							    font-weight: 700;
							    vertical-align: bottom;
								}
							}
						}
					}

      }
    }
  }

	.wrapper {
		.logo_text {
			width: auto;
			line-height: 7px !important;

			a {
				line-height: 1.3;
				color: $dark_grey2;
				font-family: 'Exo', sans-serif;
				vertical-align: middle;
		    font-size: 22px;
		    display: block;
				font-weight: 600;

				span {
					font-size: 12px;
			    display: block;
					color: $steel_blue;
					font-weight: 400;
				}
			}
		}

		#searchtop {
			display: none;
		}
	}

	&:not(.shrinked_header) {
		min-height: auto;

		.logo_text {
			max-height: none;
		}

		ul {
			li {
				a {
					&.main_menu_link {
						padding-top: 15px;
						padding-bottom: 15px;
					}
				}
				&.sfHover {
					ul {
						@media #{$desktop} {
							top: 52px !important;
						}
					}
				}
			}
		}
	}

	&.shrinked_header {


	}
}


#footer_bg {
	background: $steel_blue;
	#footer_coms {
		background: none;
		border: none;
		padding: 15px 0;

		div.wrapper div {
			display: none;
			&.footer_message {
				display: block;
				color: $white;
				width: 100%;
		    text-align: center;
		    padding: 0;
		    margin: 0;
			}
		}
	}
}


#posts,
#sidebar {
	padding-top: 60px;
	padding-bottom: 40px;
}


.tf_btn_pos {
	a.mt-section-button {
		width: 100%;
		text-transform: uppercase;
		padding: 25px 14px 21px 14px;
		max-height: none;
		font-size: 22px;
		font-weight: 400 !important;
		border: 3px solid #327160 !important;
		background: none !important;
		color: #327160 !important;

		&:hover {
			background: #327160 !important;
			color: $white !important;
		}
	}
}


.teacher_short_information_box {
	display: inline-block;
	background: #f9fafb;

	.staff_post_ctn {
		.member-photo {
			.bw-wrapper {
				a {
					width: 100%;
					height: 100%;
					display: block;
					background-size: cover !important;
					background-position: center top !important;

					&::before {
						display: none !important;
					}

					img {
						visibility: hidden;
					}
				}
			}
		}

		.member-info {
			border-left: 1px solid #eceef0;
			border-right: 1px solid #eceef0;
			padding-bottom: 10px !important;
			h3 {
				font-family: 'Exo', sans-serif;
				display: block;
				margin-bottom: 15px;
				line-height: 1.3;
				font-size: 22px;
				word-wrap: break-word;
				a {
					color: $light_green;
					display: block;
				}
			}

			.tags {
				.tag {
					border: 1px solid #eceef0;
					background: $white;
					&:last-of-type {
						margin-bottom: .5rem;
					}
				}
			}

			div.rating {

			}
		}

		.member_desc {
			padding-top: 22px;
			border: 1px solid #eceef0;
			h6 {
				font-family: 'Lato', sans-serif !important;
				font-weight: bold;
				font-size: 18px;
				a {
					color: $green;
					display: block;
				}
			}
			.desc {
				font-size: 13px;
				line-height: 1.6;
				word-break: break-word;
			}
		}

		&:hover {
			.member-info {
				background: $green !important;
				border-color: $green;
			}
			.member_desc {
				background: $green !important;
				border-color: $green;
				border-top: 1px solid rgba($white, 0.5);
				h6 {
					a {
						color: $white;
					}
				}
				.desc {
					color: $white;
				}
			}
		}
	}
}


div.kiemelt_tanarok_sc {
	.teacher_short_information_box {
		.staff_post_ctn {
			-webkit-transition: all 0.2s ease-in-out;
			-moz-transition: all 0.2s ease-in-out;
			-ms-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;

			.member-info {
				background: $light_green !important;
				border-color: $light_green;

				h3 {
					a {
						color: $white;
					}
				}

				div.rating {
				}
			}
			.member_desc {
				background: $green !important;
				border-color: $green;
				border-top: 1px solid rgba($white, 0.5);
				h6 {
					a {
						color: $white;
					}
				}
				.desc {
					color: $white;
				}
			}

			&:hover {
				opacity: 0.8;
				.member-info {
					background: $light_green !important;
					border-color: $light_green;
				}
			}
		}
	}
}


/* 3 col version */
div.kiemelt_tanarok_sc,
div.tanarok_lista_sc {
	.teacher_short_information_box {
		.member-info {
			padding-top: 12px;
			padding-left: 10px;
			padding-right: 10px;

			h3 {
				font-size: 20px;
				margin-bottom: 5px;
			}
		}
		.member_desc {
			padding: 15px 10px 10px 10px;

			h6 {
				font-size: 17px;
			}
		}
	}
}


div.vc_row.elofizetesek_section {
	.pricetable {
		width: 100%;

		.pricetable-column {
			.pricetable-header {
				h3 {
					line-height: 1.3 !important;
					font-size: 20px;
					letter-spacing: normal;
				}
			}
			.features {
				.pricetable-feature {
					color: $black;
					font-family: 'Lato', sans-serif !important;
					padding-left: 30px;
					padding-right: 30px;
					line-height: 1.4;
					text-align: center;
				}
			}

			.pt_price_ctn {
				h4 {
					span.pt_price {
						font-size: 23px;
					}
				}
			}

			.pricetable-button-container {
				display: none;
			}
		}
	}
}



form {
	div {
		margin-top: initial;
	}

	.clear {
		padding: 0 !important;
	}

	.header {
		float: left;
		width: 100%;
		background: $light_grey;
		padding: 30px;
		border-bottom: 1px solid $light_grey;

		h3.vc_custom_heading {
			font-size: 32px;
			text-align: left;
			font-family:Lato;
			font-weight:300;
			font-style:normal;
			margin-bottom: 0;
			text-transform: uppercase;
			line-height: 1.2;
		}
		h5.vc_custom_heading2 {
			font-weight: 300;
	    color: $black;
	    line-height: 1.4;
	    margin-top: 20px;
	    display: block;
		}
	}

	.radio-box {
		input, label {
			float: left;
			padding: 0 0 0 5px !important;
		}
		input {

		}
		label {

		}

		&.legalabb_12_honapig_magyarorszagon {
			div {
				&.vc_row {
					margin-bottom: 10px;
			    float: left;
			    width: 100%;

					input {
						width: auto !important;
					}
				}
			}
		}
	}

	&.reglog_form {
		a.uj_diak_hozzaadas_btn {
			border: 2px solid $steel_blue;
			color: $steel_blue;
			padding: 10px 20px;
			display: inline-block;
			text-transform: uppercase;
			font-weight: bold;

			&:hover {
				background: $steel_blue;
				color: $white;
			}
		}

		.empty_space {
			float: left;
			width: 100%;
			height: 15px;
			margin: 0;
		}
		label {
			color: grey;
			cursor: pointer;
		}

		input[type="password"] {
			margin-top: 0;
		}

		.form_content {
			padding: 30px;
			input:not([type="submit"]) {
				margin-top: 0;
				margin-bottom: 15px;
				border-color: grey;
				color: $black;

				&::-webkit-input-placeholder {color: rgba($black, 0.9); }
		    &:-moz-placeholder {color: rgba($black, 0.9); }
		    &::-moz-placeholder {color: rgba($black, 0.9); }
		    &:-ms-input-placeholder {color: rgba($black, 0.9); }
			}

			input[type="submit"] {
				width: 100%;
				background: $steel_blue;
				padding-top: 15px;
				padding-bottom: 10px;

				&:hover {
					opacity: 0.7;
				}
			}

			.form_response {
				text-align: right;
				margin: 0 0 15px 0;
				display: block;
				color: red;

				&:empty {
					display: none;
				}
			}

			.aszf,
			.tanar {
				text-align: right;
				padding-bottom: 15px;

				label {
					margin-left: 8px !important;
					vertical-align: middle;
					margin-top: 4px;
					display: inline-block;
				}
			}
		}

		.header {
			background: none;

			h3 {
				color: $steel_blue;
			}
		}

		.footer {
			background: none !important;
			padding: 30px;
			border-top: 1px solid $light_grey;

			a {
				color: grey;

				&:hover {
					color: $steel_blue;
				}
			}

			.lostpass_link {

        @media #{$tablet} {
          margin-bottom: 15px;
        }
        @media #{$mobile} {
          margin-bottom: 15px;
        }
			}

			.login_link, .registration_link {
				margin-top: 0;
				text-align: right;

        @media #{$tablet} {
          text-align: left;
        }
        @media #{$mobile} {
          text-align: left;
        }
			}
		}
	}

	&.diakok_kivalasztasa_form {
		.select2 {
			width: 100%;
		}

		.form_content {

      @media #{$mobile_vertical} {
        padding: 30px 10px;
      }
		}

		a.uj_diak_hozzaadas_btn {
			border: 2px solid $steel_blue;
			color: $steel_blue;
			padding: 10px 20px;
			margin-bottom: 30px;
			display: inline-block;
			text-transform: uppercase;
			font-weight: bold;

			&:hover {
				background: $steel_blue;
				color: $white;
			}
		}

		table {
			width: 100%;
			tr {

				&:nth-child(even) {
					background: $light_grey;
				}

				th,
				td {
					border: 1px solid grey;
					color: $black;
					text-align: center;
					padding: 10px;
					vertical-align: middle;

					@media #{$mobile_vertical} {
					  font-size: 10px;
					  padding: 5px 3px;
					}
				}
				th {
					text-transform: uppercase;
					font-weight: bold;
					border: 1px solid $steel_blue;
					background: $steel_blue;
					color: $white;
					vertical-align: middle;

          @media #{$mobile_vertical} {
            line-height: 1.5;
          }
				}
				td {
					i {
						display: block;
					}
					&.jelentkezes_torlese {
						a {
							color: red;
						}
					}
				}
			}
		}
	}
}


div.wpcf7 {
	form {
		input {
			&:not([type="submit"]) {
				border-color: rgba($black, 0.5) !important;

				&::-webkit-input-placeholder { color:$black; }
				&:-moz-placeholder { color:$black; }
				&::-moz-placeholder { color:$black; }
				&:-ms-input-placeholder { color:$black; }
			}
			&[type="submit"] {

			}
		}

		textarea {
			border-color: rgba($black, 0.5) !important;

			&::-webkit-input-placeholder { color:$black; }
			&:-moz-placeholder { color:$black; }
			&::-moz-placeholder { color:$black; }
			&:-ms-input-placeholder { color:$black; }
		}

		.wpcf7-response-output {
			border: none;
			padding: 0;
			margin: 0 0 15px 0;
			color: green;

			&.wpcf7-validation-errors {
				color: $red;
			}
		}
		span.wpcf7-not-valid-tip {
			margin: 10px 0 0 0;
		}
	}

	&#wpcf7-f10211-p7552-o1 {
		h6 {
			text-align: center;
			display: block;
		}
		form {
			input[type="text"] {
				background: $white;
				color: $black;
				margin-top: 5px;
			}
			input[type="submit"] {
				float: right;
			}
			.wpcf7-response-output {
				text-align: right;
		    max-width: 350px;
		    float: right;
			}
		}
	}
}


.registration-section.vc_row {
	h2 {
		font-weight: 300;
	}
	.rd_db_1 {
		width: 600px;

		a {
			width: calc(50% - 15px);
		}
	}
}


form.mt-form-style {
	h3 {
		color: $steel_blue;
		display: block;
		margin-bottom: 15px;
	}

	.empty-space {
		display: block;
		width: 100%;
		height: 45px;
	}

	hr {
		border-color: rgba(249, 250, 251, 0.3);
		display: block;
		margin: 30px 0;
	}

	.vc_row {
		label {
			display: block;
			margin-top: 15px;
			margin-bottom: 5px;
		}
		input {
			border-color: rgba($black, 0.5);
		}
	}

	.submit-section {
		margin-top: 30px;

		.form-info {
			width: calc(100% - 30px);
		}

		input[type="submit"] {
			background: $steel_blue;
			float: right;
			display: block;
			width: 100%;
		}
	}
}


.reszletes-kereses-widget.widget_custom_html {
	.tf_btn_pos {
		width: 100%;

		a {
			margin: 0 !important;
			width: 100%;

			span {
				border: none;
				text-align: center;
				margin-right: 20px;
			}
		}
	}
}


.tanarok_cpt_terms_list {
	height: 395px;
	overflow-y: auto;
	position: relative;
	border-bottom: 2px solid rgba($dark_grey, 0.5);

	background: #f9fafb;
	padding: 10px !important;
	border: 1px solid $dark_grey;

	/*
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 92%, rgba(0,0,0,0.05) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 92%,rgba(0,0,0,0.05) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 92%,rgba(0,0,0,0.05) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1a000000',GradientType=0 );
	*/

	ul {
		margin: 0 !important;
		li {
			list-style-type: none;
			margin: 5px 0;
			border-top: 1px solid rgba($dark_grey, 0.25);

			.icheckbox_minimal-blue {
				margin-left: 15px;
			}

			input, label {
				display: inline-block !important;
				float: none;
			}

			input {
				margin-left: 15px !important;
			}
			label {
				margin: 10px 0 4px 8px !important;
				cursor: pointer;
				color: $dark_steel_blue !important;
			}

			ul {
				margin-top: 5px !important;
				margin-bottom: 5px !important;

				li {
					padding-left: 30px;
				}
			}
		}
	}
}


.reszletes_kereso_sc {
	.other-settings {
		.row {
			padding: 0;
			margin: 15px 0;

			input,
			label {
				display: block;
				margin: 5px 0 !important;
				cursor: pointer;
				font-weight: bold;
			}

			&.checkbox-content {
				input,
				label {
					display: inline;
				}
				label {
					margin-left: 8px !important;
				}

				&:first-of-type {
					margin-top: 33px !important;
				}
			}

			&.inline {
				input {
					width: 50%;
					display: inline;
				}
				span {
					width: 50%;
					display: inline;
					padding-left: 10px;
				}
			}
		}
	}

	.select2 {
		.select2-selection {
			padding-top: 18px !important;
			padding-bottom: 18px !important;
			height: 38px !important;
		}
	}

	.submit-section {
		margin-top: 30px;

		input[type="submit"] {
			background: $steel_blue;
			width: 100%;
		}
	}
}


.hirdetes_letrehozasa_sc {

	ul.bejelolt_tantargyak,
	ul.bejelolt_helysegek {
		margin: 15px -5px;
		li {
			list-style-type: none !important;
			display: inline-block;
			padding: 5px;
			margin: 0;

			.tags {
				.tag {
					margin: 0;
				}
			}
		}
	}

	hr {
		border-color: rgba(249, 250, 251, 0.3);
		display: block;
		margin: 40px 0;
	}

	h3 {
		line-height: 1.4;

		small {
			font-size: 14px;
			font-weight: 400;
			display: block;
		}
	}

	input[name="profile_img"] {
		margin-top: 0;
		width: 100%;
		float: left;
	}

	input[type="text"],
	textarea {
		border: 1px solid $dark_grey2;
		color: $dark_grey2;

		&::-webkit-input-placeholder {color: rgba($dark_grey2, 0.7); }
		&:-moz-placeholder {color: rgba($dark_grey2, 0.7); }
		&::-moz-placeholder {color: rgba($dark_grey2, 0.7); }
		&:-ms-input-placeholder {color: rgba($dark_grey2, 0.7); }
	}

	label {
		cursor: pointer;
	}

	textarea[name="hirdetes_rovid_szoveg"] {
		margin: 0;
	}

	.field {
		.checkbox {
			margin-top: 5px;
			input, label {
				display: inline;
				vertical-align: middle;
			}
			label {
				margin-left: 8px;
			}
		}
	}

	div.mce-tinymce.mce-container.mce-panel {
		width: calc(100% - 2px) !important;
	}

	.submit-section {
		margin-top: 30px;

		.form-info {
			width: calc(100% - 30px);
		}

		input[type="submit"] {
			background: $steel_blue;
			float: right;
			display: block;
			width: 100%;
		}
	}

	.profile_img {
		position: relative;

		a {
			color: $red;
	    background: $white;
	    margin: 0;
	    padding: 0;
	    position: absolute;
	    top: 0;
	    right: 0;
	    font-size: 30px;
	    padding: 5px;
	    cursor: pointer;
			border-top: 1px solid #ddd;
			border-right: 1px solid #ddd;

			-webkit-transition: all 0.2s ease-in;
			-moz-transition: all 0.2s ease-in;
			-ms-transition: all 0.2s ease-in;
			-o-transition: all 0.2s ease-in;
			transition: all 0.2s ease-in;
		}
		img {
			background-color: #fff;
			border: 1px solid #ddd;
			border-radius: 4px;
			padding: 4px;

			-webkit-transition: all 0.2s ease-in;
			-moz-transition: all 0.2s ease-in;
			-ms-transition: all 0.2s ease-in;
			-o-transition: all 0.2s ease-in;
			transition: all 0.2s ease-in;
		}

		&.hover {
			img {
				background-color: $red;
			}
			a {
				color: $white;
				background: $red;
			}
		}
	}

	.upload_profile_images_box {
		.field {
			margin-bottom: 0;

			input[type="file"] {
				margin: 0 0 10px 0;
			}
			label {
				font-size: 15px;
			}
		}
	}

	#hirdetes_elonezete {
		h3.box-title {
			margin-top: 13px;
		}
	}
}


.magantanarok_terulet_szerint_sc {
	ul {
		padding: 0;
		margin: 0;

		li {

		}
	}

	ul.layer-0 {
		li.layer-0 {
			border-top: 1px solid #eceef0;
			border-bottom: 1px solid #eceef0;
			padding: 10px 15px;
			background: #f9fafb;
			margin: 10px 0;

			.hely {
				background: $green;
				color: white;
				margin: -10px -15px 0 -15px;
				padding: 10px 50px 10px 15px;
				width: calc(100% + 30px);
				display: block;
				float: left;
				position: relative;

				.db {
					position: absolute;
					top: 0;
					right: 0;
					height: 100%;
					background: $light_green;
					width: 50px;

					b {
						position: absolute;
						top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
					}
				}
			}

			ul.layer-1 {
				margin-top: 45px;

				li.layer-1 {
					width: 100%;
					display: block;
					background: white;
					margin: 8px 0;
					padding: 5px 10px;
					border: 1px solid #eceef0;

					a {
						width: 100%;
						display: block;
						color: $dark_grey2;

						.tantargy {
							position: relative;
							display: block;
							width: 100%;

							.db {
								position: absolute;
								top: -5px;
								right: -10px;
								height: calc(100% + 10px);
								background: $light_grey;
								width: 30px;
								color: $dark_grey2;

								b {
									position: absolute;
									top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
								}
							}
						}

						&.has_child_terms {
							padding-top: 10px;
						}

						&:hover {
							span.tantargy {
								color: $light_green;
							}
						}
					}



					ul.layer-2 {
						margin-top: 35px;
						margin-bottom: -5px;
						position: relative;

						&::before {
							content: "";
							width: 100%;
							height: 1px;
							background: #eceef0;
							display: block;
							position: absolute;
							top: -18px;
							left: 0;
						}

						li.layer-2 {
							margin-bottom: 0;

							a {
								padding: 4px 0 4px 10px;
								background: #f9fafb;
								border: 1px solid #eceef0;
								border-right: none;

								span.tantargy {
									padding-right: 20px;
								}
							}

						}
					}

				}
			}

			&.closed {
				float: left;
				width: 100%;
				padding-top: 0 !important;
				padding-bottom: 0 !important;
				margin: 8px 0 !important;
				ul.layer-1 {
					display: none;
				}
			}

		}
	}
}


.elofizetes_form_sc {
	margin-bottom: 48px;

	input[type="text"],
	textarea {
		border: 1px solid $dark_grey2;
		color: $dark_grey2;

		&::-webkit-input-placeholder {color: rgba($dark_grey2, 0.7); }
		&:-moz-placeholder {color: rgba($dark_grey2, 0.7); }
		&::-moz-placeholder {color: rgba($dark_grey2, 0.7); }
		&:-ms-input-placeholder {color: rgba($dark_grey2, 0.7); }
	}

	label {
		cursor: pointer;
	}

	p {
		margin-bottom: 20px;
	}
	h2 {
		line-height: 1.4;
		margin: 0 0 15px 0;
		small {
			display: block;
			font-size: 14px;
			font-weight: 400;
		}
	}
	.field {
		margin-right: 40px;
		&.last {
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.radio {
			margin: 10px 0;
			padding-left: 40px;
    		line-height: 1.5;
    		div {
    			position: absolute;
			    top: 3px;
			    left: 10px;
    		}

			label {
				cursor: pointer;
				span {
					font-weight: 400;

					&.nev {
						font-weight: bold;
						display: block;
					}
				}
				ul {
					margin: 5px 0 0 15px;
					li {
						font-weight: 400;
						margin: 0;
						font-size: 14px;

						&:empty {
							display: none;
						}
						&.honap {

						}
						&.ar {

						}
						&.penzvissza {

						}
					}
				}

			}
		}
		.input-group {
			margin: 20px 0;
		}
	}

	.elofiz_opciok_fields {
		.field {
			margin: 0;

			.radio {
				margin: 5px 0;
			}

			.post-title {
				background: $green;
				padding: 10px 15px;
				color: $white;
		    box-sizing: border-box;
		    width: 100%;
		    margin: 0;
				line-height: 1.4;
				display: block;
			}
		}
	}

	.form-info {
		text-align: right;
		margin: 10px 0 15px 0;
    display: block;
	}

	#osszeg {
		margin-top: -30px;
    margin-bottom: 30px;

		h3 {
			background: $light_green;
	    padding: 10px 15px;
	    color: $white;
	    box-sizing: border-box;
	    width: 100%;
	    margin: 0;
	    line-height: 1.4;
	    display: block;
			font-weight: 400;
			text-align: right;
			strong {
				font-weight: bold;
				color: $white;
			}
		}
	}

	input[type="submit"] {
		width: 100%;
	}

	.hirdeteshossz_kedv {
		display: block;
    margin: 30px 0;

		&.hidden {
			display: none;
		}

		input {
			border: none;
	    width: auto;
	    color: $green;
	    font-size: 24px;
	    font-weight: bold;
	    padding: 5px;
		}
	}
}


.adataim_beallitasa_sc {
	form {
		h3 {
			font-size: 18px;
		}
		input[type="text"],
		input[type="password"] {
			border: 1px solid $dark_grey2;
			color: rgba($dark_grey2, 0.7);

			&::-webkit-input-placeholder {color: rgba($dark_grey2, 0.7); }
			&:-moz-placeholder {color: rgba($dark_grey2, 0.7); }
			&::-moz-placeholder {color: rgba($dark_grey2, 0.7); }
			&:-ms-input-placeholder {color: rgba($dark_grey2, 0.7); }
		}
		input[type="password"] {
			margin-top: 0;
		}
		input[type="submit"] {
			width: 100%;
		}
		.form-info {
			line-height: 1.4;
			text-align: right;
			margin: -10px 0 15px 0;
			display: block;
		}
	}
}


body.single-tanarok_cpt {
	.staff_single_page {
		padding-top: 30px !important;
		padding-bottom: 60px !important;

		.mt_staff_profile {
			width: auto;
		}
		.mt_staff_generated_info {
			width: auto;

			.staff_name_position {
				margin: 0;
				h2 {
					margin: 0;
				}

				div.rating {
					margin: 5px 0 0 0;
					display: block;
				}
			}
			.single_staff_social {
				margin: 0;

				a {
					background: $blue !important;
					&:hover {
						background: $blue_hover !important;
					}
				}
			}

			.single_staff_meta {
				margin-top: 10px;
				padding: 15px;
				background: $light_grey2;

				.staff_meta_first {
					color: $dark_steel_blue;
				}
				.staff_meta_last {
					color: $steel_blue;
					a {
						color: $steel_blue;
						&:hover {
							color: $blue;
						}
					}
				}

				.column {
					&:first-of-type {
						.staff_meta_first {
							width: 35%;
						}
						.staff_meta_last {
							width: 65%;
						}
					}
					&:last-of-type {
						.staff_meta_last {
							margin-bottom: 20px;

							.tag {
								background: $white;
								border: 1px solid #ecf0f1;
							}

							&:last-of-type {
								margin-bottom: 0;
							}
						}
					}
				}
			}

			h3.hirdetes_cim {
				margin: 30px 0;
			}

			.single_staff_desc {
				margin: 30px 0 0 0;
				p {
					float: left;
				}
			}

			.single_staff_excerpt {
				margin-top: 0;
				display: block;
			}
		}
	}

	.single_port_comments {
  	border-top: 1px solid rgba(219, 219, 219, 0.36);
		margin-top: 45px;
    padding-top: 15px;

		h3 {
			margin: 30px 0;
		}
		.card {
			.card-content {

			}
			footer {
				padding: 0;
				p {
					margin: 0;
			    padding-top: 10px;
			    padding-bottom: 10px;

					span {
				    text-align: right;
						display: block;
						width: 100%;
					}
				}
			}
		}
	}
}


.modal {

	header.modal-card-head {
		p {
			margin: 0;
		}
	}

	section.modal-card-body {

		.score {
			display: block;
			margin: 0 0 10px 0;
		}
		.desc {
			line-height: 1.4;
		}

		input[type="text"],
		textarea {
			border-color: rgba($black, 0.5) !important;
			color: $black;
			resize: none;

			&::-webkit-input-placeholder { color:$black; }
			&:-moz-placeholder { color:$black; }
			&::-moz-placeholder { color:$black; }
			&:-ms-input-placeholder { color:$black; }
		}

		.alert {
			margin: 15px 0 0 0 !important;
		}
	}

	footer {
		button, a {
			i {
				margin-right: 5px;
			}
		}
	}

	&#modal-rating {

	}

	&#modal-member_email {
		textarea {
			margin: 0;
	    height: 100px;
		}
	}
}


div.uzenetek_kezelese_sc {
	margin: 30px 0;
	display: block;

	.columns {
		margin-bottom: 60px !important;
	}

	table {
		&.beerkezett_uzenetek {
			width: 100%;

			tr {
				td, th {
					&:nth-child(1) {
						max-width: 50px;
					}

					&:nth-child(4),
					&:nth-child(5) {
						max-width: 75px;
					}

					&:nth-child(6) {
						max-width: 35px;
					}
				}
			}

			thead {
				tr {
					th {
						text-align: center;
					}
				}
			}

			tbody {
				tr {
					td {
						vertical-align: middle;
						a.button {
							display: block;
							background: $white;
						}

						&:nth-child(1),
						&:nth-child(6) {
							text-align: center;
						}

					}

				}
			}
		}
		&.kiment_uzenetek {
			width: 100%;

			tr {
				td, th {
					&:nth-child(1) {
						max-width: 40px;
					}
					&:nth-child(4) {
						max-width: 60px;
					}
				}
			}

			thead {
				tr {
					th {
						text-align: center;
					}
				}
			}

			tbody {
				tr {
					td {
						vertical-align: middle;
						a.button {
							display: block;
							background: $white;
						}

						&:nth-child(1),
						&:nth-child(6) {
							text-align: center;
						}

					}

				}
			}
		}
	}

	div#modal-read_message {
		.field {
			label {
				margin: 0;
			}
			input[type="text"],
			textarea {
				border: none;
				padding-left: 0;
				margin: 0;
			}
			textarea {
				padding-left: 0;
		    padding-right: 0;
		    padding-bottom: 0;
			}
		}
		.post-date {
			text-align: right;
		}
		.modal-card-body {
			padding-bottom: 10px;
		}
	}

	div#modal-send_message {
		.field {
			label {

			}
			input[type="text"],
			textarea {

			}
			textarea {
				margin-top: 0;
			}
		}
	}

	tfoot {
		tr {
			div.pagination_content {
				nav {
					ul {

						li {
							a {

							}
							span {

							}
						}
					}
				}
			}
		}
	}
}


#reszletes_kereso_section {
	div.reszletes_kereso_sc {

		select {
			width: calc(100% - 2px) !important;
		}

		div.reszletes_kereso_talalati_lista {
			margin-top: 30px;

			&:empty {
				display: none;
			}

			.teacher_short_information_box {
				margin-bottom: 0 !important;
			}

			div.pagination_content {
				padding: 0;
				display: block;
				float: left;
				width: 100%;

				nav {
					padding: 5px 0;
					float: right;
					ul {
						padding: 0 5px;
						li {
							list-style-type: none;
							margin-bottom: 0;
							a {
								color: $dark_grey;
							}
							span {
								&.current {
									color: $blue;
								}
							}

							&:first-of-type {
								display: none;
							}

						}
					}
				}
			}

		}
	}
}

div.right_posts {
	.found_posts {
		margin-top: -20px;
	}
}


div.ertekeleseim_listazasa_sc {
	margin: 30px 0;
	display: block;

	table {
		width: 100%;

		tr {
			td, th {
				text-align: center;
				&:nth-child(1) {
					min-width: 200px;
				}
				&:nth-child(4) {
					min-width: 200px;
				}
			}
			td {
				&:nth-child(3) {
					text-align: left;
				}
			}
		}

		thead {
			tr {
				th {
					text-align: center;
				}
			}
		}

		tbody {
			tr {
				td {
					vertical-align: middle;
					a.button {
						display: block;
						background: $white;
					}

					&:nth-child(1),
					&:nth-child(6) {
						text-align: center;
					}

				}

			}
		}
	}

	tfoot {
		tr {
			div.pagination_content {
				nav {
					ul {

						li {
							a {

							}
							span {

							}
						}
					}
				}
			}
		}
	}
}
